* {
    font-family: 'Cinzel', serif;
}

.navbar-item {
    color: rgb(138, 243, 238);
}


.dropdown-item {
    color: rgb(138, 243, 238);
}

.navbar {
    height: 80px;
}

.moe {
    font-weight: 600;
    color: rgb(138, 243, 238);
    text-shadow: 3px 3px 6px black, 3px 3px 6px black;
}

.navbar-burger {
    height: 80px;
}

.hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 100px;
    background-color: black;
    color: rgb(138, 243, 238);
    text-align: center;
    border-radius: 5px;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    right: 0px;
    top: 110%;
}
  
.hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}

.has-bg-img {
    background: url('/images/jungle.jpg')center;
    background-size: cover;
}
